.foot-links > ul {
    display: none;
}

#firstthemesheet {
}

#header {
}

#action-menu-0 {
}

#action-menu-0-menubar {
}

#action-menu-toggle-0 {
}

#action-menu-0-menu {
}

#actionmenuaction-1 {
}

#actionmenuaction-2 {
}

#actionmenuaction-3 {
}

#actionmenuaction-4 {
}

#actionmenuaction-5 {
}

#actionmenuaction-6 {
}

#page {
}

#page-header {
}

#page-navbar {
}

#navbar-label {
}

#course-header {
}

#page-content {
}

#region-main {
}

#user-notifications {
}

#maincontent {
}

#block-region-side-pre {
}

#fsb-1 {
}

#inst4 {
}

#instance-4-header {
}

#label_1_1 {
}

#random5d85731d26b5b1_group {
}

#label_2_2 {
}

#label_2_3 {
}

#random5d85731d26b5b3_group {
}

#label_3_5 {
}

#label_3_6 {
}

#label_3_7 {
}

#label_3_8 {
}

#label_3_9 {
}

#label_3_10 {
}

#expandable_branch_0_courses {
}

#label_2_11 {
}

#sb-1 {
}

#fsb-2 {
}

#inst5 {
}

#instance-5-header {
}

#settingsnav {
}

#random5d85731d26b5b10_group {
}

#random5d85731d26b5b14_group {
}

#random5d85731d26b5b15_group {
}

#random5d85731d26b5b24_group {
}

#random5d85731d26b5b33_group {
}

#random5d85731d26b5b39_group {
}

#random5d85731d26b5b44_group {
}

#random5d85731d26b5b50_group {
}

#random5d85731d26b5b55_group {
}

#random5d85731d26b5b60_group {
}

#random5d85731d26b5b64_group {
}

#random5d85731d26b5b66_group {
}

#random5d85731d26b5b70_group {
}

#random5d85731d26b5b73_group {
}

#random5d85731d26b5b78_group {
}

#random5d85731d26b5b90_group {
}

#random5d85731d26b5b97_group {
}

#random5d85731d26b5b100_group {
}

#random5d85731d26b5b103_group {
}

#random5d85731d26b5b107_group {
}

#random5d85731d26b5b109_group {
}

#random5d85731d26b5b111_group {
}

#random5d85731d26b5b116_group {
}

#random5d85731d26b5b120_group {
}

#random5d85731d26b5b123_group {
}

#random5d85731d26b5b127_group {
}

#random5d85731d26b5b130_group {
}

#random5d85731d26b5b132_group {
}

#random5d85731d26b5b135_group {
}

#random5d85731d26b5b137_group {
}

#random5d85731d26b5b139_group {
}

#random5d85731d26b5b142_group {
}

#random5d85731d26b5b148_group {
}

#random5d85731d26b5b151_group {
}

#random5d85731d26b5b153_group {
}

#random5d85731d26b5b157_group {
}

#random5d85731d26b5b172_group {
}

#random5d85731d26b5b178_group {
}

#random5d85731d26b5b186_group {
}

#random5d85731d26b5b189_group {
}

#random5d85731d26b5b191_group {
}

#random5d85731d26b5b201_group {
}

#random5d85731d26b5b203_group {
}

#random5d85731d26b5b208_group {
}

#random5d85731d26b5b215_group {
}

#random5d85731d26b5b218_group {
}

#random5d85731d26b5b223_group {
}

#random5d85731d26b5b224_group {
}

#random5d85731d26b5b227_group {
}

#random5d85731d26b5b231_group {
}

#random5d85731d26b5b244_group {
}

#random5d85731d26b5b271_group {
}

#random5d85731d26b5b273_group {
}

#random5d85731d26b5b286_group {
}

#random5d85731d26b5b290_group {
}

#random5d85731d26b5b303_group {
}

#random5d85731d26b5b304_group {
}

#adminsearchquery {
}

#sb-2 {
}

#fsb-3 {
}

#inst6 {
}

#instance-6-header {
}

#sb-3 {
}

#footer {
}

.skiplinks {
}

.skip {
}

.header-top {
}

.navbar {
}

.navbar-inner {
}

.container-fluid {
}

.btn.btn-navbar {
}

.icon-bar {
}

.brand {
}

.usermenu {
}

.userbutton {
}

.usertext {
}

.avatars {
}

.avatar.current {
}

.userpicture {
}

.caret {
}

.icon.menu-action {
}

.iconsmall {
}

.filler {
}

.nav-collapse.collapse.navbar-responsive-collapse {
}

.nav.pull-right {
}

.header-main {
}

.row-fluid {
}

.span5 {
}

.logo {
}

.span7 {
}

.infoarea {
}

.fa.fa-phone {
}

.fa.fa-envelope-o {
}

.breadcrumb-nav {
}

.breadcrumb {
}

.divider {
}

.accesshide {
}

.arrow_text {
}

.arrow.sep {
}

.breadcrumb-button {
}

.singlebutton {
}

.box.generalbox {
}

.text_to_html {
}

.clearfix {
}

.theme_screenshot {
}

.img-polaroid {
}

.continuebutton {
}

.header {
}

.title {
}

.block_action {
}

.content {
}

.block_tree.list {
}

.type_unknown.depth_1.contains_branch {
}

.tree_item.branch.canexpand.navigation_node {
}

.type_setting.depth_2.item_with_icon {
}

.tree_item.hasicon {
}

.smallicon.navicon {
}

.item-content-wrap {
}

.type_course.depth_2.contains_branch {
}

.tree_item.branch {
}

.type_custom.depth_3.item_with_icon {
}

.type_unknown.depth_3.item_with_icon {
}

.type_setting.depth_3.item_with_icon {
}

.type_system.depth_2.contains_branch {
}

.type_siteadmin.depth_1.contains_branch {
}

.tree_item.root_node.tree_item.branch {
}

.tree_item.hasicon.tree_item.leaf {
}

.smallicon {
}

.type_setting.depth_2.contains_branch {
}

.tree_item.tree_item.branch {
}

.type_setting.depth_3.contains_branch {
}

.type_setting.depth_4.item_with_icon {
}

.type_setting.depth_4.contains_branch {
}

.type_setting.depth_5.item_with_icon {
}

.type_setting.depth_5.contains_branch {
}

.type_setting.depth_6.item_with_icon {
}

.type_setting.depth_4.item_with_icon.current_branch {
}

.tree_item.hasicon.active_tree_node.tree_item.leaf {
}

.footer {
}

.adminsearchform {
}

.footer-main {
}

.footer-logo {
}

.span3 {
}

.foot-links {
}

.span4 {
}

.contact-info {
}

.nopadding {
}

.fa.fa-phone-square {
}

.fa.fa-envelope {
}

.mail-link {
}

.social-media {
}

.smedia-01 {
}

.fa.fa-facebook-square {
}

.smedia-02 {
}

.fa.fa-pinterest-square {
}

.smedia-03 {
}

.fa.fa-twitter-square {
}

.smedia-04 {
}

.fa.fa-google-plus-square {
}

.footer-bootom {
}

.foot-links > ul {
    display: none;
}

#firstthemesheet {
}

#header {
}

#action-menu-0 {
}

#action-menu-0-menubar {
}

#action-menu-toggle-0 {
}

#action-menu-0-menu {
}

#actionmenuaction-1 {
}

#actionmenuaction-2 {
}

#actionmenuaction-3 {
}

#actionmenuaction-4 {
}

#actionmenuaction-5 {
}

#actionmenuaction-6 {
}

#page {
}

#page-header {
}

#page-navbar {
}

#navbar-label {
}

#course-header {
}

#page-content {
}

#region-main {
}

#user-notifications {
}

#maincontent {
}

#block-region-side-pre {
}

#fsb-1 {
}

#inst4 {
}

#instance-4-header {
}

#label_1_1 {
}

#random5d85731d26b5b1_group {
}

#label_2_2 {
}

#label_2_3 {
}

#random5d85731d26b5b3_group {
}

#label_3_5 {
}

#label_3_6 {
}

#label_3_7 {
}

#label_3_8 {
}

#label_3_9 {
}

#label_3_10 {
}

#expandable_branch_0_courses {
}

#label_2_11 {
}

#sb-1 {
}

#fsb-2 {
}

#inst5 {
}

#instance-5-header {
}

#settingsnav {
}

#random5d85731d26b5b10_group {
}

#random5d85731d26b5b14_group {
}

#random5d85731d26b5b15_group {
}

#random5d85731d26b5b24_group {
}

#random5d85731d26b5b33_group {
}

#random5d85731d26b5b39_group {
}

#random5d85731d26b5b44_group {
}

#random5d85731d26b5b50_group {
}

#random5d85731d26b5b55_group {
}

#random5d85731d26b5b60_group {
}

#random5d85731d26b5b64_group {
}

#random5d85731d26b5b66_group {
}

#random5d85731d26b5b70_group {
}

#random5d85731d26b5b73_group {
}

#random5d85731d26b5b78_group {
}

#random5d85731d26b5b90_group {
}

#random5d85731d26b5b97_group {
}

#random5d85731d26b5b100_group {
}

#random5d85731d26b5b103_group {
}

#random5d85731d26b5b107_group {
}

#random5d85731d26b5b109_group {
}

#random5d85731d26b5b111_group {
}

#random5d85731d26b5b116_group {
}

#random5d85731d26b5b120_group {
}

#random5d85731d26b5b123_group {
}

#random5d85731d26b5b127_group {
}

#random5d85731d26b5b130_group {
}

#random5d85731d26b5b132_group {
}

#random5d85731d26b5b135_group {
}

#random5d85731d26b5b137_group {
}

#random5d85731d26b5b139_group {
}

#random5d85731d26b5b142_group {
}

#random5d85731d26b5b148_group {
}

#random5d85731d26b5b151_group {
}

#random5d85731d26b5b153_group {
}

#random5d85731d26b5b157_group {
}

#random5d85731d26b5b172_group {
}

#random5d85731d26b5b178_group {
}

#random5d85731d26b5b186_group {
}

#random5d85731d26b5b189_group {
}

#random5d85731d26b5b191_group {
}

#random5d85731d26b5b201_group {
}

#random5d85731d26b5b203_group {
}

#random5d85731d26b5b208_group {
}

#random5d85731d26b5b215_group {
}

#random5d85731d26b5b218_group {
}

#random5d85731d26b5b223_group {
}

#random5d85731d26b5b224_group {
}

#random5d85731d26b5b227_group {
}

#random5d85731d26b5b231_group {
}

#random5d85731d26b5b244_group {
}

#random5d85731d26b5b271_group {
}

#random5d85731d26b5b273_group {
}

#random5d85731d26b5b286_group {
}

#random5d85731d26b5b290_group {
}

#random5d85731d26b5b303_group {
}

#random5d85731d26b5b304_group {
}

#adminsearchquery {
}

#sb-2 {
}

#fsb-3 {
}

#inst6 {
}

#instance-6-header {
}

#sb-3 {
}

#footer {
}

.skiplinks {
}

.skip {
}

.header-top {
}

.navbar {
}

.navbar-inner {
}

.container-fluid {
}

.btn.btn-navbar {
}

.icon-bar {
}

.brand {
}

.usermenu {
}

.userbutton {
}

.usertext {
}

.avatars {
}

.avatar.current {
}

.userpicture {
}

.caret {
}

.icon.menu-action {
}

.iconsmall {
}

.filler {
}

.nav-collapse.collapse.navbar-responsive-collapse {
}

.nav.pull-right {
}

.header-main {
}

.row-fluid {
}

.span5 {
}

.logo {
}

.span7 {
}

.infoarea {
}

.fa.fa-phone {
}

.fa.fa-envelope-o {
}

.breadcrumb-nav {
}

.breadcrumb {
}

.divider {
}

.accesshide {
}

.arrow_text {
}

.arrow.sep {
}

.breadcrumb-button {
}

.singlebutton {
}

.box.generalbox {
}

.text_to_html {
}

.clearfix {
}

.theme_screenshot {
}

.img-polaroid {
}

.continuebutton {
}

.header {
}

.title {
}

.block_action {
}

.content {
}

.block_tree.list {
}

.type_unknown.depth_1.contains_branch {
}

.tree_item.branch.canexpand.navigation_node {
}

.type_setting.depth_2.item_with_icon {
}

.tree_item.hasicon {
}

.smallicon.navicon {
}

.item-content-wrap {
}

.type_course.depth_2.contains_branch {
}

.tree_item.branch {
}

.type_custom.depth_3.item_with_icon {
}

.type_unknown.depth_3.item_with_icon {
}

.type_setting.depth_3.item_with_icon {
}

.type_system.depth_2.contains_branch {
}

.type_siteadmin.depth_1.contains_branch {
}

.tree_item.root_node.tree_item.branch {
}

.tree_item.hasicon.tree_item.leaf {
}

.smallicon {
}

.type_setting.depth_2.contains_branch {
}

.tree_item.tree_item.branch {
}

.type_setting.depth_3.contains_branch {
}

.type_setting.depth_4.item_with_icon {
}

.type_setting.depth_4.contains_branch {
}

.type_setting.depth_5.item_with_icon {
}

.type_setting.depth_5.contains_branch {
}

.type_setting.depth_6.item_with_icon {
}

.type_setting.depth_4.item_with_icon.current_branch {
}

.tree_item.hasicon.active_tree_node.tree_item.leaf {
}

.footer {
}

.adminsearchform {
}

.footer-main {
}

.footer-logo {
}

.span3 {
}

.foot-links {
}

.span4 {
}

.contact-info {
}

.nopadding {
}

.fa.fa-phone-square {
}

.fa.fa-envelope {
}

.mail-link {
}

.social-media {
}

.smedia-01 {
}

.fa.fa-facebook-square {
}

.smedia-02 {
}

.fa.fa-pinterest-square {
}

.smedia-03 {
}

.fa.fa-twitter-square {
}

.smedia-04 {
}

.fa.fa-google-plus-square {
}

.footer-bootom {
}

.foot-links > ul {
    display: none;
}

#firstthemesheet {
}

#header {
}

#action-menu-0 {
}

#action-menu-0-menubar {
}

#action-menu-toggle-0 {
}

#action-menu-0-menu {
}

#actionmenuaction-1 {
}

#actionmenuaction-2 {
}

#actionmenuaction-3 {
}

#actionmenuaction-4 {
}

#actionmenuaction-5 {
}

#actionmenuaction-6 {
}

#page {
}

#page-header {
}

#page-navbar {
}

#navbar-label {
}

#course-header {
}

#page-content {
}

#region-main {
}

#user-notifications {
}

#maincontent {
}

#block-region-side-pre {
}

#fsb-1 {
}

#inst4 {
}

#instance-4-header {
}

#label_1_1 {
}

#random5d85731d26b5b1_group {
}

#label_2_2 {
}

#label_2_3 {
}

#random5d85731d26b5b3_group {
}

#label_3_5 {
}

#label_3_6 {
}

#label_3_7 {
}

#label_3_8 {
}

#label_3_9 {
}

#label_3_10 {
}

#expandable_branch_0_courses {
}

#label_2_11 {
}

#sb-1 {
}

#fsb-2 {
}

#inst5 {
}

#instance-5-header {
}

#settingsnav {
}

#random5d85731d26b5b10_group {
}

#random5d85731d26b5b14_group {
}

#random5d85731d26b5b15_group {
}

#random5d85731d26b5b24_group {
}

#random5d85731d26b5b33_group {
}

#random5d85731d26b5b39_group {
}

#random5d85731d26b5b44_group {
}

#random5d85731d26b5b50_group {
}

#random5d85731d26b5b55_group {
}

#random5d85731d26b5b60_group {
}

#random5d85731d26b5b64_group {
}

#random5d85731d26b5b66_group {
}

#random5d85731d26b5b70_group {
}

#random5d85731d26b5b73_group {
}

#random5d85731d26b5b78_group {
}

#random5d85731d26b5b90_group {
}

#random5d85731d26b5b97_group {
}

#random5d85731d26b5b100_group {
}

#random5d85731d26b5b103_group {
}

#random5d85731d26b5b107_group {
}

#random5d85731d26b5b109_group {
}

#random5d85731d26b5b111_group {
}

#random5d85731d26b5b116_group {
}

#random5d85731d26b5b120_group {
}

#random5d85731d26b5b123_group {
}

#random5d85731d26b5b127_group {
}

#random5d85731d26b5b130_group {
}

#random5d85731d26b5b132_group {
}

#random5d85731d26b5b135_group {
}

#random5d85731d26b5b137_group {
}

#random5d85731d26b5b139_group {
}

#random5d85731d26b5b142_group {
}

#random5d85731d26b5b148_group {
}

#random5d85731d26b5b151_group {
}

#random5d85731d26b5b153_group {
}

#random5d85731d26b5b157_group {
}

#random5d85731d26b5b172_group {
}

#random5d85731d26b5b178_group {
}

#random5d85731d26b5b186_group {
}

#random5d85731d26b5b189_group {
}

#random5d85731d26b5b191_group {
}

#random5d85731d26b5b201_group {
}

#random5d85731d26b5b203_group {
}

#random5d85731d26b5b208_group {
}

#random5d85731d26b5b215_group {
}

#random5d85731d26b5b218_group {
}

#random5d85731d26b5b223_group {
}

#random5d85731d26b5b224_group {
}

#random5d85731d26b5b227_group {
}

#random5d85731d26b5b231_group {
}

#random5d85731d26b5b244_group {
}

#random5d85731d26b5b271_group {
}

#random5d85731d26b5b273_group {
}

#random5d85731d26b5b286_group {
}

#random5d85731d26b5b290_group {
}

#random5d85731d26b5b303_group {
}

#random5d85731d26b5b304_group {
}

#adminsearchquery {
}

#sb-2 {
}

#fsb-3 {
}

#inst6 {
}

#instance-6-header {
}

#sb-3 {
}

#footer {
}

.skiplinks {
}

.skip {
}

.header-top {
}

.navbar {
}

.navbar-inner {
}

.container-fluid {
}

.btn.btn-navbar {
}

.icon-bar {
}

.brand {
}

.usermenu {
}

.userbutton {
}

.usertext {
}

.avatars {
}

.avatar.current {
}

.userpicture {
}

.caret {
}

.icon.menu-action {
}

.iconsmall {
}

.filler {
}

.nav-collapse.collapse.navbar-responsive-collapse {
}

.nav.pull-right {
}

.header-main {
}

.row-fluid {
}

.span5 {
}

.logo {
}

.span7 {
}

.infoarea {
}

.fa.fa-phone {
}

.fa.fa-envelope-o {
}

.breadcrumb-nav {
}

.breadcrumb {
}

.divider {
}

.accesshide {
}

.arrow_text {
}

.arrow.sep {
}

.breadcrumb-button {
}

.singlebutton {
}

.box.generalbox {
}

.text_to_html {
}

.clearfix {
}

.theme_screenshot {
}

.img-polaroid {
}

.continuebutton {
}

.header {
}

.title {
}

.block_action {
}

.content {
}

.block_tree.list {
}

.type_unknown.depth_1.contains_branch {
}

.tree_item.branch.canexpand.navigation_node {
}

.type_setting.depth_2.item_with_icon {
}

.tree_item.hasicon {
}

.smallicon.navicon {
}

.item-content-wrap {
}

.type_course.depth_2.contains_branch {
}

.tree_item.branch {
}

.type_custom.depth_3.item_with_icon {
}

.type_unknown.depth_3.item_with_icon {
}

.type_setting.depth_3.item_with_icon {
}

.type_system.depth_2.contains_branch {
}

.type_siteadmin.depth_1.contains_branch {
}

.tree_item.root_node.tree_item.branch {
}

.tree_item.hasicon.tree_item.leaf {
}

.smallicon {
}

.type_setting.depth_2.contains_branch {
}

.tree_item.tree_item.branch {
}

.type_setting.depth_3.contains_branch {
}

.type_setting.depth_4.item_with_icon {
}

.type_setting.depth_4.contains_branch {
}

.type_setting.depth_5.item_with_icon {
}

.type_setting.depth_5.contains_branch {
}

.type_setting.depth_6.item_with_icon {
}

.type_setting.depth_4.item_with_icon.current_branch {
}

.tree_item.hasicon.active_tree_node.tree_item.leaf {
}

.footer {
}

.adminsearchform {
}

.footer-main {
}

.footer-logo {
}

.span3 {
}

.foot-links {
}

.span4 {
}

.contact-info {
}

.nopadding {
}

.fa.fa-phone-square {
}

.fa.fa-envelope {
}

.mail-link {
}

.social-media {
}

.smedia-01 {
}

.fa.fa-facebook-square {
}

.smedia-02 {
}

.fa.fa-pinterest-square {
}

.smedia-03 {
}

.fa.fa-twitter-square {
}

.smedia-04 {
}

.fa.fa-google-plus-square {
}

.footer-bootom {
}
